<div class="container">
  <form (ngSubmit)="signUp()">
      <mat-card class="cardStyle">
          <mat-card-header class="subtitle">
              <mat-card-title>Criar Conta</mat-card-title>
          </mat-card-header>

          <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="account.email" name="email"
                  required>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Senha" [(ngModel)]="account.password" type="password"
                  name="password" required>
          </mat-form-field>

          <mat-card-actions>
              <button mat-raised-button color="primary" class="add-note-button"
                  type="submit">Criar Conta</button>
          </mat-card-actions>
      </mat-card>
  </form>

  <div class="infoConta">
      <div *ngIf="isUserAuthenticated">
          <p>Conta criada com sucesso! Redirecionando...</p>
      </div>
      <div *ngIf="!isUserAuthenticated && isLoginAttempted">
          <p>Criação de conta falhou.</p>
      </div>
    </div>
</div>