<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list (click)="closeSidenav(sidenav)">
      <a mat-list-item routerLink="/" (click)="sidenav.close()">Inicio</a>
      <a mat-list-item routerLink="/daily-notes" routerLinkActive="active-link" (click)="closeSidenav(sidenav)">Criar Notas Diárias</a>
      <a mat-list-item [routerLink]="['/task-list', teamId]" routerLinkActive="active-link" (click)="closeSidenav(sidenav)" aria-label="Link para tarefas">Criar Tarefas</a>
      <a mat-list-item routerLink="/createTeam" routerLinkActive="active-link" (click)="closeSidenav(sidenav)">Criar Equipe</a>
      <a mat-list-item routerLink="/equipes" routerLinkActive="active-link" (click)="closeSidenav(sidenav)">Equipes</a>
      <a mat-list-item routerLink="/doc-generate" routerLinkActive="active-link">Documentação IA</a>
      <a mat-list-item routerLink="/dashBoard" routerLinkActive="active-link" (click)="closeSidenav(sidenav)">Meu Painel</a>      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="flex: 1; padding-left: 10px;">DoNote</span>
     
      <span class="menu-items">
        <button mat-button class="btnsTopo" *ngIf="!isUserAuthenticated" routerLink="/login">Login</button>
        <button mat-button class="btnsTopo" *ngIf="!isUserAuthenticated" routerLink="/signUp">Criar Conta</button>
        <button mat-button class="btnsTopo" *ngIf="isUserAuthenticated" type="button" (click)="logout()">Sair</button>
      </span>
    </mat-toolbar>
    <router-outlet class="router-content"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
